.wrapMenu {
  display: flex;
  align-items: center;
  color: #fff;
}

.wrapMenu * {
  cursor: pointer;
}

.items {
  padding: 8px 0px;
  /* height: 40px; */
  box-sizing: border-box;
  color: #fff;
  position: relative;
  white-space: pre-wrap;
}

.itemSingle {
  position: relative;
  margin: 0px 14px;
}

.dropdown {
  margin: 0px 14px;
  position: relative;
}

.dropdown .itemSingle {
  margin: 9px 14px;
}

.itemSingle:before {
  content: '';
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 4px;
  left: 0;
  transition: all .3s linear;
}

.itemSingle:hover:before {
  width: calc(100% - 20px);
}

.items:hover .iconDropdown * {
  stroke: #fff;
}

.dropdown:hover .iconDropdown {
  transform: rotate(-180deg);
}

.dropdown {
  position: relative;
}

.dropdownItem {
  padding: 5px;
  background: rgba(15, 15, 15, 1);
  box-sizing: border-box;
  position: relative;
  display: grid;
  max-width: 470px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.wrapDropdownItem {
  position: absolute;
  padding-top: 17px;
  left: 0;
  top: calc(100% - 2px);
  height: 0;
  opacity: 0;
  z-index: -1;
  overflow: hidden;
}

.dropdown:hover .wrapDropdownItem {
  top: calc(100% - 2px);
  height: unset;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  transition: all 0s linear;
}

.dropdownItem .items {
  font-weight: 400;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  padding: 0;
}

.dropdownItem li {
  padding: 8px 0px;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .dropdownItem {
    max-width: 320px;
  }
}

@media (max-width: 991px) {
  .wrapMenu {
    display: block;
    width: 100%;
  }

  .items {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 12px 14px;
    min-width: 100%;
  }

  .itemSingle {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
  }

  .items:hover {
    background: unset;
    border-radius: unset;
    color: #fff;
  }

  .iconDropdown * {
    stroke: #fff;
  }

  .wrapDropdownItem {
    position: relative;
    padding-top: 0px;
    left: unset;
    visibility: visible;
    top: unset;
    width: 210px;
    opacity: 1;
    overflow-y: hidden;
  }

  .dropdown.hover .hg-custom {
    height: unset;
  }

  .dropdown:hover .iconDropdown {
    transform: unset;
  }

  .dropdown .iconDropdown {
    display: none;
  }

  .dropdownItem {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    background: unset;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
  }

  .dropdownItem .itemSingle {
    grid-column: span 6 / span 6;
    position: relative;
    border-bottom: 0px;
  }

  .itemSingle {
    padding: 7px 0px;
  }

  .itemSingle:before {
    left: 14px;
    bottom: 14px;
  }

  .itemSingle:hover:before {
    left: 14px;
    width: 50px;
  }

  .dropdown .itemSingle:before {
    left: 0px;
    bottom: 7px;
  }

  .dropdown .itemSingle:hover:before {
    width: 50px;
    left: 0px;
  }

  .dropdownItem .itemSingle .items {
    font-size: 14px;
    font-weight: 300;
    color: rgba(253, 253, 253, .5);
  }

  .wrapDropdownItem {
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 100%;
  }
}