@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  transition: all .3s linear;
}

input:focus,
textarea:focus {
  outline: 0;
}