.slide {
  position: relative;
}

.slide:hover .homeSildeImg {
  transform: scale(1.1);
  filter: blur(2px) brightness(.3);
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .65s ease-in-out;
}

.slide:hover .playButton {
  opacity: 1;
  transform: translate(-50%, -50%) scale(.75);
}

.homeSildeImg {
  width: 100%;
}

.homeSildeDescriptionGroup {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  padding: 14px;
  width: 100%;
}

.homeSlideName {
  font-size: 16px;
  font-weight: 400;
  text-shadow: 0 0 10px #000;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.homeSlideDate {
  font-size: 13px;
  text-shadow: 0 0 10px #000;
  white-space: nowrap;
}

.homeSlideTagGroup {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.homeSlideTag {
  background: #408BEA;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 0;
  color: #fff;
  white-space: nowrap;
}

.iconNavigation {
  width: 50px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0%;
  z-index: 9;
  opacity: 1;
}

.iconNavLeft {
  transform: translate(-30%, -50%);
}

.iconNavRight {
  transform: translate(30%, -50%);
}