.title {
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background: #408BEA;
}

/*  */

.commentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.commentItem {
  display: flex;
  gap: 8px;
}

.replyList {
  margin-left: 0px;
  margin-top: 8px;
}

.replyItem {
  display: flex;
  gap: 8px;
}

.avatar {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.imgAvatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

.commentItem,
.replyItem {
  margin-bottom: 10px;
}

.commentItem:last-child,
.replyItem:last-child {
  margin-bottom: 0;
}

.commentItem {
  padding-bottom: 16px;
}

.author {
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
}

.text {
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
}

.replyItem .avatar {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
}

.enterComment {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  position: relative;
}

.inputComment {
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  padding-bottom: 45px;
  box-sizing: border-box;
  resize: none;
}

.buttonSubmitComment {
  background: #4267b2;
  color: #fff;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 60px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.buttonSubmitComment.buttonSubmitCommentShow {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .commentList {
    max-height: calc(800px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .commentList::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
    border-radius: 10px;
  }

  .commentList::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  .commentList::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 10px;
  }
}