.title {
  position: relative;
}

.title:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background: #408BEA;
}

/*  */

.itemMain {
  width: 100%;
  float: left;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
}

.itemImageWrap {
  width: 160px;
  height: 90px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.itemImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemInfo {
  padding: 10px;
  padding-left: 170px;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.name {
  font-size: 14px;
  font-weight: 700;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-word;
}

.type,
.view {
  font-weight: 400;
  color: rgb(163, 163, 163);
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-word;
  line-height: 16px;
  font-size: 12px;
}

.itemMain:hover .itemImage {
  transform: scale(1.2);
}

@media (max-width: 991px) {
  .itemMain {
    display: block;
  }

  .itemImageWrap {
    width: 100%;
    height: 170px;
  }

  .itemInfo {
    position: relative;
    padding: 10px 0px;
  }
}

@media (max-width: 479px) {
  .itemImageWrap {
    width: 100%;
    height: 200px;
  }
}